<!DOCTYPE html>
<html>
    <head>
        <title>home</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- styles CSS -->
        <link rel="stylesheet" href="advisor_Css/advisor_slick-theme.css">
        <link rel="stylesheet" href="advisor_Css/advisor_normalize.css">
        <link rel="stylesheet" href="advisor_Css/advisor_bootstrap.css">
        <link rel="stylesheet" href="advisor_Css/advisor_font-awesome.css">
        <link rel="stylesheet" href="advisor_Css/advisor_style.css">
    </head>
    
    <body>

        <div class="container info">
            <div class="info_student">
                
                <span>
                    <label>Name : </label><br>
                    <input type="text" name="name" class="inp">
                </span>
                <span>
                    <label>ID : </label><br>
                    <input type="text" name="id" class="inp">
                </span>

                <span>
                    <label>GPA : </label><br>
                    <input type="text" name="gpa" class="inp">
                </span>    

                <span>
                    <label>Major : </label><br>
                    <input type="text" name="magor" class="inp">
                </span>

                <span>
                    <label>Date : </label><br>
                    <input type="text" name="date" class="inp">
                </span>

                <span>
                    <label>Total Credit : </label><br>
                    <input type="text" name="credit" class="inp">
                </span>
            </div>

            <div class="courses">
                <label></label><br>
                <Textarea class="inp"></Textarea>
            </div>

            <div class="courses">
                <label></label><br>
                <Textarea class="inp"></Textarea>
            </div>

            <button type="button" class="btn inhome" onclick="window.location.href='student.html'">Student</button>
            <button type="button" class="btn inhome">Select</button>
            <button type="button" class="btn inhome"> Semster</button>
            <button type="button" class="btn inhome">Print</button>
            <br>
            
        </div>
        
        
        
        <!-- JS files -->
        <script src="advisor_js/advisor_jquery-3.3.1.min.js"></script>
        <script src="advisor_js/advisor_slick.min.js"></script>
        <script src="advisor_js/advisor_bootstrap.min.js"></script>
        <script src="advisor_js/advisor_test.js"></script>
    </body>
    
</html>
