<!DOCTYPE html>
<html>
    <head>
        <title>Student</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- styles CSS -->
        <link rel="stylesheet" href="main_Css/slick-theme.css">
        <link rel="stylesheet" href="main_Css/normalize.css">
        <link rel="stylesheet" href="main_Css/bootstrap.css">
        <link rel="stylesheet" href="main_Css/font-awesome.css">
        <link rel="stylesheet" href="main_Css/style.css">
    </head>
    
    <body>

        <div class="container cont">
            <div class="left">
                <div class="acc">
                    <h5>Account</h5>
                </div>
                <div class="acdm">
                    <h5>My Academics</h5>
                </div>
            </div>
            
            <div class="right">
                <div class="feat">
                    <h5>Profile</h5>
                </div>
                <div class="feat">
                    <h5>Registration</h5>
                </div>
            </div>
        </div>
        
        
        
        <!-- JS files -->
        <script src="main_js/jquery-3.3.1.min.js"></script>
        <script src="main_js/slick.min.js"></script>
        <script src="main_js/bootstrap.min.js"></script>
        <script src="main_js/test.js"></script>
    </body>
    
</html>
