<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Prof Tables Form</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link rel="stylesheet" href="Pro_styles.css">
</head>
<body>

<div class="wrapper">
  <div class="title">
    Choose Your Dirction
  </div>
  
  
  <div class="form">
    
    <div class="btn">
      <a href="#">Update Student Information</a>
        <div class="btn">
    </div>
  </div>
</div>
    <div class="form">
    
    <div class="btn">
      <a href="#">Submit Grades</a>
        <div class="btn">
    </div>
  </div>
</div>
    
    
	
</body>
</html>
