<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ٍSubject Form 2</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link rel="stylesheet" href="SF2_styles.css">
</head>
<body>

<div class="wrapper">
  <div class="title">
    Which subject do you want ?
  </div>
  
  
  <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Data Communications" />
        <label for="Data Communications">Data Communications</label>  
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Information System" />
        <label for="Information System">Information System</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Java" />
        <label for="Java">Java</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Project Management" />
        <label for="Project Management">Project Management</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Technical Writing Guide" />
        <label for="Technical Writing Guide">Technical Writing Guide</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Discrete Structures" />
        <label for="Discrete Structures">Discrete Structures</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Computer Ethics" />
        <label for="Computer Ethics">Computer Ethics</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Computer Archticture" />
        <label for="Computer Archticture">Computer Archticture</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Data Structure" />
        <label for="Data Structure">Data Structure</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="DataBase" />
        <label for="DataBase">DataBase</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="File Orgnization" />
        <label for="File Orgnization">File Orgnization</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="System Analysis" />
        <label for="System Analysis">System Analysis</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Probability, statistics" />
        <label for="Probability, statistics">Probability, statistics    </label>
      </div>
</div>
    
    <div class="form">
    
    <div class="btn">
      <a href="#">Submit</a>
        <div class="btn">
    </div>
  </div>
</div>
    
    
	
</body>
</html>
