<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ٍSubject Form 3</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link rel="stylesheet" href="SF3_styles.css">
</head>
<body>

<div class="wrapper">
  <div class="title">
    Which subject do you want ?
  </div>
  
  
  <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Algorithm" />
        <label for="Algorithm">Algorithm</label>  
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Computer Graphics" />
        <label for="Computer Graphics">Computer Graphics</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Image Processing" />
        <label for="Image Processing">Image Processing</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Software Engineering" />
        <label for="Software Engineering">Software Engineering</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Visual Programming" />
        <label for="Visual Programming">Visual Programming</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Computer Network" />
        <label for="Computer Network">Computer Network</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Advanced Computer Graphics" />
        <label for="Advanced Computer Graphics">Advanced Computer Graphics</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Advanced Software Engineering" />
        <label for="Advanced Software Engineering">Advanced Software Engineering</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Automata" />
        <label for="Automata">Automata</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Artificial intelligence (AI)" />
        <label for="Artificial intelligence (AI)">Artificial intelligence (AI)</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Field Training" />
        <label for="Field Training">Field Training</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Operating System (OS)" />
        <label for="Operating System (OS)">Operating System (OS)</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="btn">
      <a href="#">Submit</a>
        <div class="btn">
    </div>
  </div>
</div>
    
    
	
</body>
</html>
