<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ٍSubject Form 4</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link rel="stylesheet" href="SF4_styles.css">
</head>
<body>

<div class="wrapper">
  <div class="title">
    Which subject do you want ?
  </div>
  
  
  <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Compiler" />
        <label for="Compiler">Compiler</label>  
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Computer Vision" />
        <label for="Computer Vision">Computer Vision</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Network Programming" />
        <label for="Network Programming">Network Programming</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Security" />
        <label for="Security">Security</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Web Programming" />
        <label for="Web Programming">Web Programming</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Animation" />
        <label for="Animation">Animation</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Cryptography" />
        <label for="Cryptography">Cryptography</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Advanced DB" />
        <label for="Advanced DB">Advanced DB</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Machine Learning" />
        <label for="Machine Learning">Machine Learning</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="group">
        <input type="checkbox" id="Parellel Computation" />
        <label for="Parellel Computation">Parellel Computation</label>
      </div>
</div>
    
    <div class="form">
    
    <div class="btn">
      <a href="#">Submit</a>
        <div class="btn">
    </div>
  </div>
</div>
    
    
	
</body>
</html>
